<img src="/img/BancoOnline.jpg" class="img-fluid" alt="logobanco" width="70%"><br><br>
<h1>Resultado:</h1>
<p>Para un capital de ${{capital}}, con un interes de {{interest}}% y en {{years}} años, el calculo de interes simple por periodo anual es de ${{totalInterest}}</p><br><br>

<a href="/">Volver a calcular</a>